body {
  background-image: url(http://www.transparenttextures.com/patterns/white-diamond.png);
  background-color: #8e877a;
 font-family: 'Raleway', sans-serif;
 padding:0;
}

.siteLogo {
  position: absolute;
  left:2%;
  top: 2%;
  border-radius:5%;
  padding:1%;
  padding-right:0;
}

.tagline {
  margin: 0 0 0 4%;
  font-size:1.2em;
}

.welcome {
  position:relative;
  text-align: center;
  padding: 1%;
  width:55%;
  margin: 20% 0 0 20%;
}

.log-in, .sign-up, .edit {
  margin-top: 10%;
  width: 50%;
  padding: 3%;
}

.header {
  margin: 0 auto;
}

.profile {
  margin-top:8%;
}

img {
 width: 20em;
 height: 20em;
 transition-property: transform;
 transition-duration: 2s;
}

.container {
  margin-top: 2%;
}

.title {
  margin: 2% 0 0 2%;
  font-size:2em;
}

#posts-container {
 /*border: 1px solid rgb(40, 38, 38);*/
 padding: 5%;
}

.posts {
  margin-top:-10%;
}

.post {
  position: relative;
  border:1px solid black;
  padding: 2%;
  margin-bottom:1%;
  background-color: rgba(236, 244, 241, 0.5);
}

.post button{
  padding:10px;
  line-height: 1;
  position: absolute;
  right: 1%;
  top:4%;
}

#posting {
  padding: 3%;
}

.r {
  font-size:50%;
}

input::-webkit-input-placeholder{
   color: rgb(74, 69, 69);
}
.datepicker:hover::-webkit-input-placeholder{
  color: red;
}

form label {
  color: rgb(40, 38, 38);
}

input.datepicker {
  width: 100%;
}

.dateThoughts {
  font-size: 1.6em;
}

.pic {
 position: relative;
}

.username {
 margin-top: 10%;
}

.user-options {
  position: absolute;
  right:5%;
  top:5%;
}

.nav {
  display: inline-block;
}
