  <div class="row edit z-depth-1">
    <h3>Edit Your Settings</h3>

    <%= render 'form' %>

    <%= link_to 'Back to the log in page', log_in_path %><br>
    <%= link_to 'Back to profile page', profile_path %>
  </div>
